.DivConfirmacion {
    background-color: '#212121';
    border-radius: '15px';
    box-shadow: '5px 4px 6px rgba(0, 0, 0, 0.1)';
    padding: '20px';
    text-align: 'center';
    max-width: '950px';
    margin: '0 auto';
    font-family: 'Arial, sans-serif';
    width: '100%';
    color: '#333'
}