@keyframes parpadeo {
    0% {
      color: yellowgreen;  
    }
    50% {
      color: yellow;   
    }
    100% {
      color: white;  
    }
  }
  
  .parpadeo-rojo {
    animation: parpadeo 1s infinite;  
  }